@layer utilities {
  /* default already handled by Tailwind */

  @media (min-width: 320px) {
    .blog-details-on-1440-img {
      height: 200px;
    }

    .hmad-banner-container-h {
      height: 100vh;
    }

    .hmad-banner-h {
      height: 70vh;
    }

    .hmad-staff-card-h {
      height: 320px;
    }

    .hire-gd-card-h {
      height: 390px;
    }

    .staff-card-h {
      height: 490px;
    }

    .staff-augmention-graph {
      width: 100%;
    }

    .skill-card-top {
      margin-top: 150%;
    }

    .our-service-card-mt {
      margin-top: 70px;
    }

    .our-service-slice-img-h {
      height: 200px;
    }

    .ppc-our-process-heading {
      font-size: 35px;
    }

    .why-adaired-choose-image-top-margin {
      top: 400px;
    }

    .text-size-category-on-blog-card {
      font-size: 11px;
    }

    .ppc_stopStruggling_h {
      height: 100px;
    }

    .ppc_case_image_h {
      height: 180px;
    }

    .smm-our-process-heading {
      font-size: 70px;
    }

    .slider_card-h {
      height: 410px;
    }

    .importtanttobusiness-mobile-app-card-img {
      bottom: -15px;
    }
  }

  @media (min-width: 768px) {
    .blog-details-on-1440-img {
      height: 400px;
    }

    .hmad-banner-container-h {
      height: 80vh;
    }

    .hmad-banner-h {
      height: 70vh;
    }

    .hmad-staff-card-h {
      height: 320px;
    }

    .staff-card-h {
      height: 410px;
    }

    .hire-gd-card-h {
      height: 380px;
    }

    .hsegraph_left {
      margin-left: -18%;
    }

    .staff-augmention-graph {
      width: 100%;
    }

    .skill-card-top {
      margin-top: 75%;
    }

    .our-service-slice-img-h {
      height: 300px;
    }

    .importtanttobusiness-mobile-app-card-img {
      bottom: -205px;
    }

    .slider_card-h {
      height: 410px;
    }

    .why-adaired-choose-image-top-margin {
      top: 380px;
    }

    .our-process-card-h {
      height: 1000px;
    }

    .ppc_stopStruggling_h {
      height: 200px;
    }

    .smm-our-process-heading {
      font-size: 90px;
    }

    .ppc_case_image_h {
      height: 300px;
    }
  }

  @media (min-width: 1360px) {
    .our-process-card-h {
      height: 560px;
    }

    .our-process-card-w {
      width: 260px;
    }

    .case-studies-1440-img {
      height: 154px;
    }

    .revenue-growth-img-h {
      height: 340px;
    }

    .revenue-growth-img-h-r {
      height: 330px;
    }

    .revenue-growth-arrow-size {
      left: 15rem;
    }

    .revenue-growth-arrow-size-r {
      right: 17rem;
    }

    .our-process-card-h {
      height: 610px;
    }

    .our-process-card-w {
      width: 345px;
    }

    .whychoose-card-img-h {
      height: 170px;
    }

    .blog-Img-h {
      height: 350px;
    }

    .blogcard-padding-y {
      padding-top: 1;
      padding-bottom: 1;
    }

    .button-padding-y {
      padding-top: 10;
      padding-bottom: 10;
    }

    .button-text-size {
      font-size: small;
    }

    .card-top {
      top: 7rem;
    }

    .case-studies-text-size {
      font-size: 50px;
    }

    .menu_card_gap {
      gap: 16px;
    }
  }

  @media (min-width: 1400px) {
    .our-process-card-h {
      height: 650px;
    }

    .our-process4-center-image-h {
      height: 700px;
      width: 500px;
    }

    .banner-video-p {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .slider_card-h {
      height: 410px;
    }

    .our-process-card-w {
      width: 350px;
    }

    .whychoose-card-img-h {
      height: 190px;
    }

    .case-studies-1440-img {
      height: 154px;
    }

    .revenue-growth-img-h {
      height: 340px;
    }

    .revenue-growth-img-h-r {
      height: 331px;
    }

    .revenue-growth-arrow-size {
      left: 16rem;
    }

    .revenue-growth-arrow-size-r {
      right: 18rem;
    }

    .key_state_card-height {
      height: 16vh;
    }

    .key_state_py {
      padding-top: 32.5px;
    }

    .why_choose2_heading {
      width: 55%;
    }

    .text-size-category-on-blog-card {
      font-size: 11px;
    }
  }

  @media (min-width: 1440px) {
    .h-1440-img-serviceResult {
      height: 28rem;
    }

    .adaired-help-img-h {
      height: 60vh;
    }

    .hmad-banner-container-h {
      height: 140vh;
    }

    .hmad-banner-h {
      height: 100vh;
    }

    .hmad-staff-card-h {
      height: 400px;
    }

    .staff-card-h {
      height: 580px;
    }

    .hire-gd-card-h {
      height: 380px;
    }

    .hsegraph_left {
      margin-left: -30%;
    }

    .staff-augmention-graph {
      width: 100%;
    }

    .skill-card-top {
      margin-top: 6%;
    }

    .staff-card-width {
      width: 280px;

    }

    .our-service-card-mt {
      margin-top: 50px;
    }

    .our-service-div {
      margin-top: 100px;
    }

    .our-service-slice-img-h {
      height: 500px;
    }

    .our-process4-center-image-h {
      height: 560px;
      width: 390px;
    }

    .importtanttobusiness-mobile-app-card-img {
      bottom: 0px;
    }

    .banner-video-p {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .case-study2-top-m {
      top: 40px;
    }

    .case-study-card-h {
      height: 75vh;
    }

    .ppc-our-process-heading {
      font-size: 130px;
    }

    .smm-our-process-heading {
      font-size: 170px;
    }

    .ppc-make-deferent-card {
      width: 48%;
    }

    .ppc_case_image_h {
      height: 480px;
    }

    .ppc_stopStruggling_h {
      height: 300px;
    }

    .dm-result-heading {
      width: 45%;
    }

    .stop-struggling {
      width: 84%;
    }

    .saas-hero-image-2 {
      width: 300;
    }

    .dm-here-img {
      height: 500px;
    }

    .why-adaired-choose-image {
      height: 500px;
    }

    .why-adaired-choose-image-top-margin {
      top: 500px;
    }

    .why-adaired-choose-heading {
      width: 50%;
    }

    .case-studies2-heading {
      width: 100%;
    }

    .our-client-heading {
      width: 55%;
    }

    .dm-case-studies-image {
      width: 48%;
    }

    .dm-here-banner-img {
      height: 320px;
    }

    .dm-process-heading {
      width: 42%;
    }

    .dm_result_heading {
      width: 42%;
    }

    .blog-card-on-1440-img {
      height: 15rem;
    }

    .blog-Img-h {
      height: 250px;
    }

    .blog-details-on-1440-img {
      height: 32rem;
    }

    .h-1440-img {
      height: 28rem;
    }

    .case-studies-1440-img {
      height: 154px;
    }

    .case-studies-img {
      margin-top: 20px;
      height: 60vh;
    }

    .our-process-card-w {
      width: 355px;
    }

    .our-process-card-h {
      height: 660px;
    }

    .our-process-card-h2 {
      height: 560px;
    }

    .revenue-growth-img-h {
      height: 340px;
    }

    .revenue-growth-arrow-size {
      left: 17rem;
    }

    .our-process-card-name {
      font-size: 26px;
    }

    .our-process-card-default-name {
      font-size: 23px;
    }

    .our-process-card-desc {
      font-size: 20px;
    }

    .web-dev-graph {
      height: 260px;
    }

    .case-studies-mt {
      margin-top: 50px;
    }

    .our_team_graph {
      height: 230px;
    }

    .key_state_py {
      padding-top: 32.5px;
    }

    .ui-ux-positions-figma {
      top: 73px;
      left: 130px;
    }

    .ui-ux-positions-XD {
      top: 75px;
    }

    .ui-ux-positions-glowSquare-1 {
      top: 8.5rem;
      left: 65px;
    }

    .ui-ux-positions-glowSquare-2 {
      top: 4.8rem;
      left: 15.5rem;
    }

    .ui-ux-positions-glowSquare-3 {
      top: 12.2rem;
      right: 4rem;
    }

    .ui-ux-positions-glowSquare-4 {
      bottom: 4.7rem;
      left: 8rem;
    }

    .ui-ux-positions-glowSquare-5 {
      bottom: 4.7rem;
      right: 7.8rem;
    }

    .ui-ux-positions-sketch {
      top: 16rem;
      left: 70px;
    }

    .ui-ux-positions-webFlow {
      top: 18rem;
    }

    .case-studies-text-size {
      font-size: 50px;
    }

    .smm-card-height-1440 {
      height: 22rem;
    }

    .web-dev-card-h-1440 {
      height: 20rem;
    }

    .web-dev-card-h2-1440 {
      height: 12rem;
    }

    .hire-gd-card-h-1440 {
      height: 10rem;
    }
  }

  @media (min-width: 1470px) {
    .skill-card-top {
      margin-top: 16%;
    }

    .hmad-banner-container-h {
      height: 115vh;
    }

    .hmad-banner-h {
      height: 90vh;
    }

    .hmad-staff-card-h {
      height: 380px;
    }

    .staff-card-h {
      height: 550px;
    }
  }

  @media (min-width: 1600px) {
    .h-1600-img {
      height: 36rem;
    }

    .hmad-banner-container-h {
      height: 150vh;
    }

    .hmad-banner-h {
      height: 100vh;
    }

    .hmad-staff-card-h {
      height: 380px;
    }

    .skill-card-top {
      margin-top: 8%;
    }

    .staff-card-width {
      width: 300px;
    }

    .our-service-card-mt {
      margin-top: 80px;
    }

    .case-study-card-h {
      height: 70vh;
    }

    .banner-video-p {
      padding-top: 60px;
      padding-bottom: 50px;
    }

    .h-1600-Adairedimg {
      height: 30rem;
    }

    .case-studies-1440-img {
      height: 190px;
    }

    .our-process-card-w {
      width: 400px;
    }

    .our-process-card-h {
      height: 730px;
    }

    .revenue-growth-img-h {
      height: 340px;
    }

    .revenue-growth-arrow-size {
      left: 21rem;
    }

    .revenue-growth-arrow-size-r {
      right: 23rem;
    }

    .h-blogcard-1600 {
      height: 41rem;
    }

    .case-studies-text-size {
      font-size: 60px;
    }

    .case-study2-top-m {
      top: 40px;
    }
  }

  @media (min-width: 1680px) {
    .skill-card-top {
      margin-top: 18%;
    }

    .hmad-banner-container-h {
      height: 130vh;
    }

    .hmad-banner-h {
      height: 100vh;
    }
  }

  @media (min-width: 1700px) {
    .blog-card-on-1710-img {
      height: 18rem;
    }

    .adaired-help-img-h {
      height: 70vh;
    }

    .hmad-banner-container-h {
      height: 115vh;
    }

    .hmad-banner-h {
      height: 90vh;
    }

    .hmad-staff-card-h {
      height: 360px;
    }

    .staff-card-h {
      height: 500px;
    }

    .hire-gd-card-h {
      height: 390px;
    }

    .skill-card-top {
      margin-top: 15%;
    }


    .our-service-card-mt {
      margin-top: 80px;
    }

    .our-process4-center-image-h {
      height: 700px;
      width: 500px;
    }

    .our-process4-center-image-h {
      height: 560px;
      width: 390px;
    }

    .importtanttobusiness-mobile-app-card-img {
      bottom: 15px;
    }

    .banner-video-p {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .ppc-our-process-heading {
      font-size: 160px;
    }

    .smm-our-process-heading {
      font-size: 200px;
    }

    .ppc_case_image_h {
      height: 565px;
    }

    .ppc_stopStruggling_h {
      height: 360px;
    }

    .blog-details-on-1710-img {
      height: 35rem;
    }

    .stop-struggling {
      width: 74%;
    }

    .case-studies-1710-img {
      height: 230px;
    }

    .dm-case-studies-image {
      width: 46%;
    }

    .case-study2-top-m {
      margin-top: 40px;
    }

    .dm-here-banner-img {
      height: 340px;
    }

    .our-process-card-w {
      width: 400px;
    }

    .our-process-card-h {
      height: 730px;
    }

    .revenue-growth-img-h {
      height: 390px;
    }

    .revenue-growth-img-h-r {
      height: 380px;
    }

    .revenue-growth-arrow-size {
      left: 22rem;
    }

    .revenue-growth-arrow-size-r {
      right: 24rem;
    }

    .blog-Img-h {
      height: 300px;
    }

    .case-studies-mt {
      margin-top: 160px;
    }

    .our_team_graph {
      height: 270px;
    }

    .revenue-growth-card-size-l {
      left: 2rem;
    }

    .revenue-growth-card-size-r {
      right: 3rem;
    }

    .ui-ux-positions-figma {
      top: 64px;
      left: 142px;
    }

    .ui-ux-positions-glowSquare-1 {
      top: 8.5rem;
      left: 90px;
    }

    .ui-ux-positions-glowSquare-2 {
      top: 4.7rem;
      left: 16.9rem;
    }

    .ui-ux-positions-glowSquare-3 {
      top: 12.2rem;
      right: 5.6rem;
    }

    .ui-ux-positions-glowSquare-4 {
      bottom: 4.7rem;
      left: 9.4rem;
    }

    .ui-ux-positions-glowSquare-5 {
      bottom: 4.7rem;
      right: 9.4rem;
    }

    .ui-ux-positions-sketch {
      top: 16.5rem;
      left: 84px;
    }

    .ui-ux-positions-XD {
      top: 65px;
    }

    .ui-ux-positions-webFlow {
      top: 19rem;
    }

    .why_choose2_heading {
      width: 52%;
    }

    .case-studies-text-size {
      font-size: 65px;
    }

    .smm-card-height-1710 {
      height: 26rem;
    }

    .web-dev-card-h-1710 {
      height: 26.25rem;
    }

    .web-dev-card-h2-1710 {
      height: 16.25rem;
    }

    .case-study2-top-m {
      top: 100px;
    }

    .hire-gd-card-h-1710 {
      height: 14rem;
    }
  }

  /* @media (min-width: 1700px) {

  } */

  @media (min-width: 1920px) {
    .why-adaired-choose-heading {
      width: 45%;
    }

    .adaired-help-img-h {
      height: 75vh;
    }

    .hmad-banner-container-h {
      height: 135vh;
    }

    .hmad-banner-h {
      height: 100vh;
    }

    .hmad-staff-card-h {
      height: 360px;
    }

    .hire-gd-card-h {
      height: 400px;
    }

    .hsegraph_left {
      margin-left: -18%;
    }

    .skill-card-top {
      margin-top: 15%;
    }

    .staff-augmention-graph {
      width: 90%;
    }

    .our-service-card-mt {
      margin-top: 180px;
    }

    .our-process4-center-image-h {
      height: 700px;
      width: 550px;
    }

    .importtanttobusiness-mobile-app-card-img {
      bottom: -15px;
    }

    .banner-video-p {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .slider_card-h {
      height: 400px;
    }

    .ppc-our-process-heading {
      font-size: 180px;
    }

    .smm-our-process-heading {
      font-size: 220px;
    }

    .ppc-make-deferent-card {
      width: 55%;
    }

    .ppc_case_image_h {
      height: 630px;
    }

    .ppc_stopStruggling_h {
      height: 440px;
    }

    .saas-hero-image-2 {
      width: 400;
    }

    .stop-struggling {
      width: 68%;
    }

    .dm-result-heading {
      width: 36%;
    }

    .why-adaired-choose-image {
      height: 640px;
    }

    .why-adaired-choose-image-top-margin {
      top: 575px;
    }

    .case-studies2-heading {
      width: 95%;
    }

    .dm_result_heading {
      width: 35%;
    }

    .dm-here-banner-img {
      height: 400px;
    }

    .dm-case-studies-image {
      width: 45%;
    }

    .dm-process-heading {
      width: 32%;
    }

    .our-process-card-w {
      width: 450px;
    }

    .our-process-card-h {
      height: 730px;
    }

    .our-process-card-h2 {
      height: 620px;
    }

    .our-client-heading {
      width: 50%;
    }

    .whychoose-card-img-h {
      height: 220px;
    }

    .revenue-growth-img-h {
      height: 490px;
    }

    .revenue-growth-img-h-r {
      height: 477px;
    }

    .revenue-growth-arrow-size {
      left: 23rem;
    }

    .revenue-growth-arrow-size-r {
      right: 25rem;
    }

    .blog-Img-h {
      height: 280px;
    }

    .our-process-card-default-name {
      font-size: 30px;
    }

    .our-process-card-name {
      font-size: 35px;
    }

    .our-process-card-desc {
      font-size: 25px;
      line-height: 40px;
    }

    .web-dev-graph {
      height: 290px;
    }

    .case-studies-slide-img {
      width: 20px;
      height: 60vh;
    }

    .case-studies-mt {
      margin-top: 160px;
    }

    .our_team_graph {
      height: 300px;
    }

    .key_state_card-height {
      height: 26vh;
    }

    .key_state_py {
      padding-top: 32.5px;
    }

    .revenue-growth-card-size-l {
      left: 2rem;
    }

    .revenue-growth-card-size-r {
      right: 4rem;
    }

    .why_choose2_heading {
      width: 46%;
    }

    .case-studies-text-size {
      font-size: 65px;
    }

    .text-size-category-on-blog-card {
      font-size: 14px;
    }

    .menu_card_gap {
      gap: 32px;
    }

    .smm-card-height-1920 {
      height: 31rem;
    }

    .web-dev-card-h-1920 {
      height: 16.25rem;
    }

    .hire-gd-card-h-1710 {
      height: 16rem;
    }
  }
}